{% for nav in site.navigation %}
  {% if nav.name == 'Facebook' %}
    <a href="{{nav.url | url}}"
       target="_blank"
       class="facebook-link"
       aria-label="{{nav.name}}">
      <svg class="icon" role="img"><use xlink:href="#facebook-logo"/></svg>
    </a>
  {% elif nav.name == 'Home' %}
    <a href="{{nav.url | url}}"
       class="{% if page.url == nav.url %}current{% endif %}">
      {{nav.name}}
    </a>
  {% else %}
    <a href="{{nav.url | url}}"
       class="{% if nav.url in page.url %}current{% endif %}">
      {{nav.name}}
    </a>
  {% endif %}
{% endfor %}
