{%if quoteText.length >0 and quoteSource.length > 0 %}
  {% if not quoteColWidth %}
    {% set quoteColWidth = 6%}
  {% endif %}
  <hr class="mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-{{quoteColWidth}}">
      <figure>
        <blockquote class="blockquote">
          <p>{{quoteText | safe}}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite>{{quoteSource | safe}}</cite>
        </figcaption>
      </figure>
      <hr>
    </div>
  </div>
{% endif %}
