@use 'variables' as *;

body,
html {
  min-height: 100vh;
}

#main-content {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: kepler-std-subhead, serif;
  }
}

#main-content {
  padding: $site-spacing 0;

  @include media-breakpoint-up(md) {
    padding: $site-spacing-desktop 0;
  }
}

.flush-with-header {
  margin-top: -$site-spacing;

  &.content-spacer {
    margin-bottom: $site-spacing;
  }

  @include media-breakpoint-up(md) {
    margin-top: -$site-spacing-desktop;

    &.content-spacer {
      margin-bottom: $site-spacing-desktop;
    }
  }
}
