@use 'variables' as *;

body,
html {
  min-height: 100vh;
}

:focus-visible {
  outline: 3px solid $site-color-highlight !important;

  &:not(.btn) {
    border-radius: $border-radius-sm;
  }
}

.btn:focus-visible {
  outline-color: $site-color-link !important;
}

.btn .icon {
  display: inline-block;
  font-style: normal;
  font-weight: 400 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  width: 16px;
  height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  // Same as navigation
  font-weight: 300;
}

#main-content {
  padding: $site-spacing 0;

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: kepler-std-subhead, serif;
  }

  @include media-breakpoint-up(md) {
    padding: $site-spacing-desktop 0;
  }
}

.flush-with-header {
  margin-top: -$site-spacing;

  &.content-spacer {
    margin-bottom: $site-spacing;
  }

  @include media-breakpoint-up(md) {
    margin-top: -$site-spacing-desktop;

    &.content-spacer {
      margin-bottom: $site-spacing-desktop;
    }
  }
}

.book-callout {
  border: 1px solid $site-color-highlight;
  border-radius: $border-radius;
  background-color: $site-color-lightest;
  box-shadow: $box-shadow;
}

a.book-callout {
  @include transition(all $site-duration-fast $site-ease-out-expo);

  &:hover {
    transform: scale(1.01);
    box-shadow: $box-shadow-lg;
  }
}
