@use 'variables' as *;

#header {
  background: $site-header-bg;

  h1 {
    color: $site-header-title-color;
    font-family: $site-header-title-font-family;
    font-weight: $site-header-title-font-weight;
    font-size: $site-header-title-font-size;
    line-height: $site-header-title-line-height;
    margin: $site-header-title-margin;
    padding: $site-header-title-padding;
  }

  @include media-breakpoint-up(sm) {
    h1 {
      font-size: $site-header-title-font-size-sm;
    }
  }

  @include media-breakpoint-up(md) {
    h1 {
      padding: $site-header-title-padding-desktop;
      margin: $site-header-title-margin-desktop;
      font-size: $site-header-title-font-size-desktop;
      letter-spacing: $site-header-title-letter-spacing-desktop;
    }
  }
}

// Shared navigation styles
#header-navigation a,
#sidebar nav a,
.sub-navigation a,
#toggle-sidebar,
#close-sidebar {
  color: $site-shared-nav-color;
  line-height: $site-shared-nav-line-height;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $site-shared-nav-bg-hover;
  }
}

#header-navigation,
#sidebar nav {
  svg {
    fill: $site-shared-nav-color;
    width: $site-shared-nav-font-size;
    height: $site-shared-nav-font-size;
  }
}

#header-navigation,
#sidebar nav,
.sub-navigation {
  a {
    font-size: $site-shared-nav-font-size;
    font-weight: $site-shared-nav-font-weight;

    &.current {
      background-color: $site-shared-nav-bg-current;
      color: $site-shared-nav-color-current;
    }
  }
}

#header-navigation {
  a {
    padding: $site-header-nav-item-padding;

    &.facebook-link {
      // Needed to align this icon site with the text
      padding-top: calc($site-header-nav-item-padding - 5px);
    }
  }
}

.sub-navigation {
  background-color: $site-sub-nav-bg;

  &.header-sub-navigation {
    padding: $site-sub-nav-padding;
  }

  a {
    font-size: $site-sub-nav-font-size;
    padding: $site-sub-nav-item-padding;
  }

  @include media-breakpoint-up(md) {
    &.header-sub-navigation {
      padding: $site-sub-nav-padding-desktop;

      a {
        padding: $site-sub-nav-item-padding-desktop;
      }
    }
  }
}

#toggle-sidebar,
#mobile-spacer,
#close-sidebar {
  background-color: transparent;
  border: none;
  padding: $site-sidebar-toggles-padding;
  font-size: $site-sidebar-toggles-font-size;
  line-height: $site-sidebar-toggles-line-height;

  @include media-breakpoint-up(sm) {
    font-size: $site-sidebar-toggles-font-size-sm;
  }
}

#close-sidebar {
  margin-right: auto; // make it not take up the full width
  font-size: $site-sidebar-close-font-size;
}

#sidebar {
  background: $site-sidebar-bg;
  transform: translateX(-100%);
  transition: $site-duration transform $site-ease-out-expo;
  z-index: $site-sidebar-z-index;
  overflow: auto; // allow scrolling for short screens

  .sidebar-open & {
    transform: translateX(0);
    box-shadow: $box-shadow;
  }

  nav {
    a {
      padding: $site-sidebar-nav-item-padding;
    }
  }

  footer {
    color: $site-sidebar-footer-color;
  }
}

#sidebar-backdrop {
  position: fixed;
  inset: 0;
  z-index: $site-sidebar-backdrop-z-index;
  background-color: $site-sidebar-backdrop-bg;
  opacity: 0;
  pointer-events: none;
  transition: $site-duration opacity;

  .sidebar-open & {
    opacity: 1;
    pointer-events: all;
  }
}
