@use 'variables' as *;

$details-header-img-height: 300px;

#book-details-wrapper {
  padding-top: $site-spacing;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto $details-header-img-height;
  background-image: linear-gradient(#027750, #0f9384);

  @include media-breakpoint-up(md) {
    padding-top: $site-spacing-desktop;
  }
}

#book-details-titles {
  color: $site-color-light;

  h2,
  h3 {
    line-height: $site-header-title-line-height;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 330px;
  }

  @include media-breakpoint-up(xl) {
    left: 390px;
  }
}

#book-details-links {
  // The margin-top value is calculated with JS on page resize, so we can animate it here
  @include transition(margin-top $site-duration $site-ease-out-expo);

  @include media-breakpoint-up(lg) {
    // But on larger screens we want to use this value at all times instead
    margin-top: 0 !important;
    transition: none;
  }
}

#book-details-content {
  .sub-navigation {
    // Match the height of the sub-navigation by combining the line height in REM + the top & bottom padding
    //This CSS var will also be set by JS upon a page resize event
    --book-details-subnav-bg-height: calc(calc($site-sub-nav-item-padding * 2) + #{$site-shared-nav-line-height}rem); // ~52px

    // pseudo-element added to make it look like it's full-width
    &::before {
      display: block;
      content: '';
      height: var(--book-details-subnav-bg-height);
      width: 100%;
      position: absolute;
      left: 0;
      background: $site-sub-nav-bg;
      z-index: -1;
    }

    a {
      text-align: center;

      @include media-breakpoint-only(xs) {
        //XS size ONLY!!
        padding-left: calc($site-sub-nav-item-padding/2);
        padding-right: calc($site-sub-nav-item-padding/2);
      }

      @include media-breakpoint-down(md) {
        //XS and SM sizes ONLY!!
        line-height: 1;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: $details-header-img-height - $site-spacing-desktop;
  }
}
