@use 'variables' as *;

$details-header-img-height: 300px;

#book-details-wrapper {
  padding-top: $site-spacing;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto $details-header-img-height;
  background-image: linear-gradient(#027750, #0f9384);

  > .container {
    position: relative;
  }

  @include media-breakpoint-up(md) {
    padding-top: $site-spacing-desktop;
  }
}

#book-details-titles {
  color: $site-color-light;

  h2,
  h3 {
    line-height: $site-header-title-line-height;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(lg) {
    position: absolute;
    left: 330px;
  }

  @include media-breakpoint-up(xl) {
    left: 390px;
  }
}

#book-details-links {
  @include media-breakpoint-up(lg) {
    // The margin-top value is calculated with JS on page resize
    // But on larger screens we want to use this value at all times instead
    margin-top: 0 !important;
  }
}

#book-details-content {
  .sub-navigation {
    // pseudo-element added to make it look like it's full-width
    &::before {
      display: block;
      content: '';

      // Match the height of the sub-navigation by combining the line height in REM + the top & bottom padding
      height: calc(
        calc($site-sub-nav-item-padding * 2) + #{$site-shared-nav-line-height}rem
      ); // ~52px

      width: 100%;
      position: fixed;
      left: 0;
      background: $site-sub-nav-bg;
      z-index: -1;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: $details-header-img-height - $site-spacing-desktop;
  }
}
