@use 'variables' as *;

#home-feature {
  color: $site-color-light;
  padding-top: $site-spacing;
  text-shadow: $site-text-shadow;
  position: relative;
  background-repeat: no-repeat;
  background-image: url('../img/home/feature-bg-XS@1x.jpg');
  margin-bottom: 80px;

  h2 {
    font-size: 2.5rem;
  }

  @include media-breakpoint-up(sm) {
    background-image: url('../img/home/feature-bg-SM@1x.jpg');
    height: 430px;
    margin-bottom: 120px;

    h2 {
      font-size: 3rem;
    }
  }

  @include media-breakpoint-up(md) {
    padding-top: $site-spacing-desktop;
    background-image: url('../img/home/feature-bg-MD@1x.jpg');
    height: 460px;
    margin-bottom: 200px;
  }

  @include media-breakpoint-up(lg) {
    background-image: url('../img/home/feature-bg-LG@1x.jpg');
    height: 600px;
    margin-bottom: $site-spacing-desktop;
  }

  @include media-breakpoint-up(xl) {
    background-image: url('../img/home/feature-bg-XL@1x.jpg');
    height: 720px;
  }

  // Anything larger than the BG image we just center the BG
  @media (width > 1920px) {
    background-position: center;
  }

  // High DPI Screens use higher-resolution images scaled back down
  @media only screen and (resolution >= 1.5dppx) {
    background-image: url('../img/home/feature-bg-XS@2x.jpg');
    background-size: 575px 240px;

    @include media-breakpoint-up(sm) {
      background-image: url('../img/home/feature-bg-SM@2x.jpg');
      background-size: 768px 430px;
    }

    @include media-breakpoint-up(md) {
      background-image: url('../img/home/feature-bg-MD@2x.jpg');
      background-size: 992px 460px;
    }

    @include media-breakpoint-up(lg) {
      background-image: url('../img/home/feature-bg-LG@2x.jpg');
      background-size: 1200px 600px;
    }

    @include media-breakpoint-up(xl) {
      background-image: url('../img/home/feature-bg-XL@2x.jpg');
      background-size: 1920px 720px;
    }
  }
}

#home-feature-books {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  bottom: -60px;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    bottom: -200px;
  }

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(2, 1fr);
    bottom: auto;
  }
}
