---
layout: layout.njk
title: About
---

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <figure class="figure">
        <img srcset="{{ '/img/about/debbie@2x.jpg' | url }} 2x, {{ '/img/about/debbie@1x.jpg' | url }} 1x"
             src="{{ '/img/about/debbie@1x.jpg' | url }}"
             class="figure-img img-fluid rounded shadow"
             alt="Debbie Barr"/>
        <figcaption class="figure-caption text-end">
          Photo by Melinda Lamm
        </figcaption>
      </figure>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <p>
        Debbie Barr is an author, health educator, and speaker with a passion for encouraging people to engage deeply with God
        as they journey through tough times. She earned her bachelor's degree in journalism from the Pennsylvania State
        University and her master's degree in health education from East Carolina University. A master certified health
        education specialist (MCHES&reg;), Debbie is especially interested in health and wellness, health literacy, caregiver
        wellness, and Christian growth. She lives in Bermuda Run, North Carolina. She is the author/coauthor of 10 books.
      </p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <figure class="figure">
        <img src="{{ '/img/about/debbie-at-acc-2017-banquet.jpg' | url }}" class="figure-img img-fluid rounded" alt="Debbie at the 2017 ACC Banquet with Dr. Gary Chapman and Dr. Edward Shaw"/>
        <figcaption class="figure-caption text-end">
          At the 2017 ACC Banquet with Dr. Gary Chapman and Dr. Edward Shaw
        </figcaption>
      </figure>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <figure class="figure">
        <img src="{{ '/img/about/library.jpg' | url }}" class="figure-img img-fluid rounded" alt="..."/>
        <figcaption class="figure-caption text-end">
          Speaking at the library
        </figcaption>
      </figure>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <figure class="figure">
        <img src="{{ '/img/about/mug.jpg' | url }}" class="figure-img img-fluid rounded" alt="Debbie's favorite mug"/>
        <figcaption class="figure-caption text-end">
          Debbie's favorite mug
        </figcaption>
      </figure>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <figure class="figure">
        <img src="{{ '/img/about/bookshelf.jpg' | url }}" class="figure-img img-fluid rounded" alt="..."/>
        <figcaption class="figure-caption text-end">
          My book at the bookstore!
        </figcaption>
      </figure>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
      <figure class="figure">
        <img src="{{ '/img/about/outdoors.jpg' | url }}" class="figure-img img-fluid rounded" alt="..."/>
        <figcaption class="figure-caption text-end">On a hike</figcaption>
      </figure>
    </div>
  </div>
  {% include "quote.njk" %}
</div>
