---
layout: layout.njk
title: About
---

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <figure class="figure">
        <img srcset="{{ '/img/about/debbie@2x.jpg' | url }} 2x, {{ '/img/about/debbie@1x.jpg' | url }} 1x"
             src="{{ '/img/about/debbie@1x.jpg' | url }}"
             class="figure-img img-fluid rounded shadow"
             alt="Debbie Barr"/>
        <figcaption class="figure-caption text-end">
          Photo Artistry by Melinda Lamm
        </figcaption>
      </figure>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <p>
        Debbie Barr is an author, health educator, and speaker with a passion for encouraging people to engage deeply with God
        as they journey through tough times. She earned her bachelor's degree in journalism from the Pennsylvania State
        University and her master's degree in health education from East Carolina University. A master certified health
        education specialist (MCHES&reg;), Debbie is especially interested in health and wellness, health literacy, caregiver
        wellness, and Christian growth. She lives in Bermuda Run, North Carolina. She is the author/coauthor of 10 books.
      </p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <figure class="figure">
        <img srcset="{{ '/img/about/debbie-at-acc-2017-banquet@2x.jpg' | url }} 2x, {{ '/img/about/debbie-at-acc-2017-banquet@1x.jpg' | url }} 1x"
             src="{{ '/img/about/debbie-at-acc-2017-banquet@1x.jpg' | url }}"
             class="figure-img img-fluid rounded"
             alt="2017 Associates in Christian Counseling banquet with Dr. Health Greene, Dr. Gary Chapman, Debbie Barr, Ed Shaw, MD"/>
        <figcaption class="figure-caption text-end">
          2017 Associates in Christian Counseling banquet, L to R: Dr. Health Greene, Dr. Gary Chapman, Debbie Barr, Ed Shaw, MD
        </figcaption>
      </figure>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <figure class="figure">
        <img srcset="{{ '/img/about/library@2x.jpg' | url }} 2x, {{ '/img/about/library@1x.jpg' | url }} 1x"
             src="{{ '/img/about/library@1x.jpg' | url }}"
             class="figure-img img-fluid rounded"
             alt="Presentation at Walkertown NC Public Library"/>
        <figcaption class="figure-caption text-end">
          Presentation at Walkertown NC Public Library
        </figcaption>
      </figure>
    </div>
    {# <div class="col-12 col-md-6 col-lg-4">
      <figure class="figure">
        <img srcset="{{ '/img/about/mug@2x.jpg' | url }} 2x, {{ '/img/about/mug@1x.jpg' | url }} 1x"
             src="{{ '/img/about/mug@1x.jpg' | url }}"
             class="figure-img img-fluid rounded"
             alt='A mug that says "I Write, what&quot;s your superpower?"'/>
      </figure>
    </div> #}
    <div class="col-12 col-md-6 col-lg-4">
      <figure class="figure">
        <img srcset="{{ '/img/about/grace-bookshelf@2x.jpg' | url }} 2x, {{ '/img/about/grace-bookshelf@1x.jpg' | url }} 1x"
             src="{{ '/img/about/grace-bookshelf@1x.jpg' | url }}"
             class="figure-img img-fluid rounded"
             alt="Grace fot the Unexpected Journey book on a bookshelf"/>
      </figure>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <figure class="figure">
        <img srcset="{{ '/img/about/debbie-outdoors@2x.jpg' | url }} 2x, {{ '/img/about/debbie-outdoors@1x.jpg' | url }} 1x"
             src="{{ '/img/about/debbie-outdoors@1x.jpg' | url }}"
             class="figure-img img-fluid rounded"
             alt="Debbie outdoors"/>
      </figure>
    </div>
  </div>
  {% include "quote.njk" %}
</div>