---
layout: layout.html
eleventyComputed:
  title: '{{ book.title }}'
pagination:
  data: books
  size: 1
  alias: book
permalink: 'books/{{ book.title | slugify }}/'
---

<div id="book-details-wrapper" class="flush-with-header">
  <div class="container">
    <div id="book-details-titles">
      <h2>{{book.title}}</h2>
      <h3>{{book.subtitle}}</h3>
    </div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="row">
          <div class="col col-lg-12 order-lg-last" id="book-details-links">
            {% if book.isCaregivers %}
            <div class="mt-4">
              See my other
              <a href="{{ '/books/books-for-caregivers' | url}}">books for caregivers</a>
            </div>
            {% endif %}

            <ul class="mt-4">
              {% for linkCategory in book.linkCategories %}
              <li>
                <strong>{{linkCategory.type}}</strong>
                <ul>
                  {% for link in linkCategory.links %}
                  <li>
                    <a href="{{link.url}}" target="_blank">{{link.name}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col col-lg-12 order-lg-first">
            <img src="{{ book.coverImageUrl | url }}" class="shadow" alt="{{book.title}}" />
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div>Description: {{book.description}}</div>

        <div>Comments And Reviews: {{book.commentsAndReviews}}</div>
      </div>
    </div>
  </div>
</div>
