---
layout: layout.njk
title: Books
---

<nav
  class="sub-navigation header-sub-navigation flush-with-header content-spacer d-flex justify-content-center align-items-end text-uppercase"
>
  <a href="{{'/books' | url }}" class="current">All Books</a>
  <a href="{{'/books/books-for-caregivers' | url }}">Books For Caregivers</a>
</nav>

<div class="container">
  <div id="books-grid">
    {% for book in books %}

    <a href="{{ '/books/' | url }}{{ book.title | slugify | url }}">
      <img
        src="{{ book.coverImageUrl | url }}"
        class="img-fluid shadow"
        alt="{{book.title}}"
      />
    </a>
    {% endfor %}
  </div>

  {% include "quote.njk" %}
</div>
