---
layout: layout.njk
title: Books For Caregivers
permalink: "books/books-for-caregivers/"
quoteText: Most of what makes a book "good" is that we are reading it at the right moment for us.
quoteSource: Alain de Botton
---

<nav class="sub-navigation header-sub-navigation flush-with-header content-spacer d-flex justify-content-center
    align-items-end text-uppercase">
  <a href="{{ '/books' | url }}">All Books</a>
  <a href="{{ '/books/books-for-caregivers' | url }}" class="current">Books For Caregivers</a>
</nav>
{% set booksArr = [] %}
{% for k, book in books %}
  {% if book.isCaregivers %}
    {% set booksArr = (booksArr.push(book), booksArr) %}
  {% endif %}
{% endfor %}
<div class="container">

  <div id="books-grid">
    {% for book in booksArr | sort(false, false, "publishDate") | reverse %}
      <a href="{{ '/books/' | url }}{{ book.title | slugify | url }}">
        <img src="{{ book.coverImageUrl | url }}" class="img-fluid shadow" alt="{{ book.title }}"/>
      </a>
    {% endfor %}
  </div>

  <h2 class="mb-2">Caregiving: Taking Care of Yourself While Caring for Someone Else</h2>

  <p>
    Caregiving is never just about the person needing care. No matter who a person is caring for, or why, or for how long, the caregiving journey is always also about the caregiver. Yet, while most caregivers do a spectacular job of taking care of their loved one, far too many do a terrible job of taking care of themselves.
    </p>
  <p>
    Well-meaning caregivers sometimes sacrifice their own physical, emotional, social, and other needs so they can pour all their energy and devote all their time to the person in their care. While that sounds noble and loving, it&apos;s really not. It actually puts the cared-for person at risk. This book challenges caregivers to rethink the importance of self-care, telling them:
  </p>

  <blockquote class="blockquote ps-4">
    <p>
      Here&apos;s the truth. If you ignore your own needs for restful sleep, healthy food, exercise, medical care, spiritual nurture, and &#x201C;time off,&#x201D; sooner or later, you will be unable to go on meeting the needs of the person in your care. Unless you make caring for yourself a top priority, you may burn out or bail out. And where would that leave the person you&apos;re caring for?
    </p>
    <p>
      Self-care is what will enable you to endure the challenges of long-haul caregiving. It keeps your emotional, spiritual, and physical reserves from running out. It equips you to be the patient, loving, and truly caring caregiver you want to be.
    </p>
  </blockquote>
  <p>
    The key message of the book is this: caregiver self-care isn&apos;t selfish; it&apos;s an investment that will be repaid in a better quality of life for the caregiver and a better quality of care for their loved one. Caregiver self-care isn&apos;t just smart—it&apos;s necessary!
  </p>

  {% include "quote.njk" %}
</div>
