---
layout: layout.html
title:
featureTitle: 2024 Releases
featureText: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
quoteText: A writer only begins a book. A reader finishes it.
quoteSource: Samuel Johnson
---

<div id="home-feature" class="flush-with-header">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-8 col-sm-8 col-md-9 col-lg-4 col-xl-5">
        <h2>{{featureTitle}}</h2>
        <p class="d-none d-sm-block">{{featureText}}</p>
      </div>
      <div class="col-12 col-lg-4 col-xl-5">
        <div id="home-feature-books">
          {% for book in books %} {% if book.isFeatured %}
          <a href="{{ '/books/' | url }}{{ book.title | slugify | url }}">
            <img
              src="{{ book.coverImageUrl | url }}"
              class="img-fluid shadow"
              alt="{{book.title}}"
            />
          </a>
          {% endif %} {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p class="d-sm-none" aria-hidden="true">{{featureText}}</p>

  {% include "quote.njk" %}
</div>
